<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ericka Aranjuez | Front-end Developer | Los Angeles </title>

	<meta name="description" content="Front-end Developer &amp; Web Designer based in Los Angeles,CA.">
	<meta name="author" content="Ericka Aranjuez">
	<meta name="copyright" content="Copyright Ericka Aranjuez 2017">
	<meta name="keywords" content="front-end developer, web designer, developer, portfolio, developer in Los Angeles, web design, front-end development">

	<meta property="og:title" content="Ericka Aranjuez | Front-end Developer | Los Angeles" />
	<meta property="og:url" content="http://erickaaranjuez.com/" />
	<meta property="og:description" content="Ericka Aranjuez is a Front-end Developer &amp; Web Designer with the user experience in mind." />

        <link rel="stylesheet" type="text/css" href="/static/stylesheets/normalize.css">
        <link rel="shortcut icon" type="image/png"  href="https://s3-us-west-1.amazonaws.com/eaportfolio/icon.png" />
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
        <link  href="/static/stylesheets/jquery.fancybox.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
    </head>
    <body>
        <!-- Page Wrapper -->
        <div class="wrapper">

            <!-- NavBar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container-fluid">

                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#home">
                          <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/small_logo.png" alt="Ericka Logo" class="logo">
                      </a>
                    </div>

                      <div class="collapse navbar-collapse" id="navbarNav navbar-collapsible">
                        <ul class="nav navbar-nav navbar-right">
                          <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#portfolio">Portfolio</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#skills">Skills</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                          </li>
                        </ul>
                      </div>

                  </div>
                </nav>
            <!-- End NavBar -->

                <!-- Home Section -->
                <section class="beach parallax--bg" id="home">

                    <div class="container-fluid">
                        <div class="main-title row">
                            <div class="col-md-12 introduction">
                                <h1 class="name">Ericka Aranjuez</h1>
                                <h2 class="title"> Front-end Developer &amp; Web Designer</h2>
				<a href="#about"><span class="animated infinite bounce glyphicon glyphicon-chevron-down"></span></a>
                            </div>
                        </div>
                    </div>

                </section>
                <!-- End Home -->

                <!-- About Section -->
                <div id="about" class="nav-marker"> </div>

                    <section class="page-section">
                        <div class="container">
                            <h2 class="section_title align-left about-title">Who am I?</h2>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="about_content1">Former hair stylist, turned developer with a life long appreciation for design. I strive to create asthetically pleasing solutions with the user experience in mind (great UI/UX design makes me happy!). Continuously building my skillset so that I am better than I was yesterday.</p>
                                        <p class="about_content2">When I'm not coding or designing, I enjoy spending my days at the beach, hiking, and reading. I am obsessed with anything and everything matcha! I never turn down the opportunity to go on adventures, especially if it's a food adventure! I embrace change, it's good for the soul! Positive vibes all day, every day. Always be hungry, humble, and grateful! </p>
                                    </div>
                                </div>
                        </div>

                    </section>
                <!-- End About -->

                <!-- Portfolio Section -->
                <div id="portfolio">
                    <hr class="marker">
                </div>

                    <section class= "page-section">

                        <div class="container">
                            <h2 class="section_title align-left port">Portfolio</h2>

                                <div class="row portfolio-row">
                                    <figure class= "item">

                                        <div class="col-md-7 notShowing showMe left">
                                            <h3 class="work">Savvy Hero:</h3>
                                            <p class="port_content">An e-commerce website specializing in cake pops, cupcakes, and macaroons. Built with Ruby on Rails, Bootstrap, and Stripe API.</p>
                                            <p class="port_content">My  Responsibilites: Login/Registration, Frontend, &amp; Logo Design</p>
                                        </div>

                                        <div class="col-md-5 port_icons notShowing showMe right">
                                            <a data-fancybox="gallery-sh" href="https://s3-us-west-1.amazonaws.com/eaportfolio/savvy_home.jpg" data-caption="Savvy Hero: Landing Page">
                                                <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/savvy_home_sm.png">
                                            </a>
                                            <a data-fancybox="gallery-sh" href="https://s3-us-west-1.amazonaws.com/eaportfolio/savvy_menu.jpg" data-caption="Savvy Hero: Menu">
                                                <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/savvy_menu_sm.png">
                                            </a>
                                            <a data-fancybox="gallery-sh" href="https://s3-us-west-1.amazonaws.com/eaportfolio/savvy_media.jpg" data-caption="Savvy Hero:Photo and Video Gallery">
                                                <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/savvy_media_sm.png">
                                            </a>
                                            <a data-fancybox="gallery-sh" href="https://s3-us-west-1.amazonaws.com/eaportfolio/savvy_blog.jpg" data-caption="Savvy Hero: Blog">
                                                <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/savvy_blog_sm.png">
                                            </a>
                                            <a data-fancybox="gallery-sh" href="https://s3-us-west-1.amazonaws.com/eaportfolio/savvy_signin.jpg" data-caption="Savvy Hero: Sign In">
                                                <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/savvy_signin_sm.png">
                                            </a>
                                            <a data-fancybox="gallery-sh" href="https://s3-us-west-1.amazonaws.com/eaportfolio/savvy_signup.jpg" data-caption="Savvy Hero: Sign Up">
                                                <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/savvy_signup_sm.png">
                                            </a>
                                        </div>

                                    </figure>
                                </div>

                                <div class="row portfolio-row">
                                    <figure class= "item">

                                        <div class="col-md-7 notShowing showMe left">
                                            <h3 class="work">The Wonderland Studios:</h3>
                                            <p class="port_content">A business website for my client's salon. It displays her portfolio, that is linked to her Instagram, salon services that she provides/her location, and links to her appointment book. Built with ExpressJS, Node.js, and Bootstrap. <a href="http://www.thewonderlandstudios.com/">Check out her page!</a></p>
                                        </div>

                                        <div class="col-md-5 port_icons tws_icons notShowing showMe right">
                                            <a data-fancybox="gallery-tws" href="https://s3-us-west-1.amazonaws.com/eaportfolio/tws_home.jpg" data-caption="The Wonderland Studios: Home Page">
                                                <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/tws_home_sm.png">
                                            </a>
                                            <a data-fancybox="gallery-tws" href="https://s3-us-west-1.amazonaws.com/eaportfolio/tws_services.jpg" data-caption="The Wonderland Studios: Services Page">
                                                <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/tws_services_sm.png">
                                            </a>
                                            <a data-fancybox="gallery-tws" href="https://s3-us-west-1.amazonaws.com/eaportfolio/tws_gallery.jpg" data-caption="The Wonderland Studios: Gallery">
                                                <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/tws_gallery_sm.png">
                                            </a>
                                            <a data-fancybox="gallery-tws" href="https://s3-us-west-1.amazonaws.com/eaportfolio/tws_contact.jpg" data-caption="The Wonderland Studios: Contact Page">
                                                <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/tws_contact_sm.png">
                                            </a>
                                        </div>

                                    </figure>
                                </div>

                                <div class="row portfolio-row">
                                    <figure class= "item">

                                        <div class="col-md-7 lse_synth notShowing showMe left">
                                            <h3 class="work">The LSE Synth:</h3>
                                            <p class="port_content">An interactive synthesizer which can be used as a learning tool to get a better understanding of its fuctionalities and the different sounds that it creates. Built with MEAN and web audio API.</p>
                                            <p class="port_content">My Responsibilites: Login/Reg. Page &amp; Backend</p>
                                        </div>

                                        <div class="col-md-5 port_icons notShowing showMe right">
                                            <a data-fancybox="gallery-lse" href="https://s3-us-west-1.amazonaws.com/eaportfolio/lse_login.jpg" data-caption="LSE Synthesizer: Login Page">
                                                <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/lse_login_sm.png">
                                            </a>
                                            <a data-fancybox="gallery-lse" href="https://s3-us-west-1.amazonaws.com/eaportfolio/lse_registration.jpg" data-caption="LSE Synthesizer: Registration Page">
                                                <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/lse_registration_sm.png">
                                            </a>
                                            <a data-fancybox="gallery-lse" href="https://s3-us-west-1.amazonaws.com/eaportfolio/lse_home.jpg" data-caption="LSE Synthesizer: Home page after first logging In">
                                                <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/lse_home_sm.png">
                                            </a>
                                            <a data-fancybox="gallery-lse" href="https://s3-us-west-1.amazonaws.com/eaportfolio/lse_colorhome.jpg" data-caption="LSE Synthesizer: When hoovering over the white keys, it changes colors.">
                                                <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/lse_colorhome_sm.png">
                                            </a>
                                            <a data-fancybox="gallery-lse" href="https://s3-us-west-1.amazonaws.com/eaportfolio/lse_colorhome2.jpg" data-caption="LSE Synthesizer: When hovering over the black keys, it changes colors.">
                                                <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/lse_colorhome2_sm.png">
                                            </a>
                                        </div>

                                    </figure>
                                </div>

                        </div>

                    </section>
                <!-- End Portfolio -->

                <!-- Skills and Software Section -->
                <div id="skills">
                    <hr class="marker">
                </div>

                    <section class="page-section">

                        <div class="container">
                            <h2 class="section_title align-left technical">Technical Skills</h2>
                                <!-- <div class="row" id="stacks">
                                    <div class="col-md-4">
                                        <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/python.png" class="python" alt="Python" width=85 />
                                            <div class="skill">
                                                <p>Django</p>
                                                <p>MySQL</p>
                                                <p>Flask</p>
                                            </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/mean.png" class="mean" alt="MEAN" width=220 />
                                            <div class="skill">
                                                <p>MongoDB</p>
                                                <p>AngularJS</p>
                                                <p>ExpressJS</p>
                                                <p>Node.js</p>
                                                <p>NoSQL</p>
                                            </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/ror.png" class="ror" alt="ROR" width=85 />
                                            <div class="skill">
                                                <p>Ruby</p>
                                                <p>Rails</p>
                                                <p>PostgreSQL</p>
                                                <p>Active Record</p>
                                            </div>
                                    </div>
                                </div> -->
                                <div class="row" id="front-end">
                                    <div class="col-md-4">
                                        <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/bootstrap.png" class="boot" alt="Bootstrap" />
                                    </div>
                                    <div class="col-md-4">
                                        <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/html_css_js.png" class="html-css-js" alt="HTML-CSS-JS" />
                                    </div>
                                    <div class="col-md-4">
                                        <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/jquery.png" class="jquery" alt="jQuery" />
                                    </div>
                                </div>
                                <h2 class="section_title align-left software_title">Software</h2>
                                <div class="row" id="software">
                                    <div class="col-md-3">
                                        <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/photoshop.png" class="ps" alt="PS" width=80 />
                                    </div>
                                    <div class="col-md-3">
                                        <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/ai.png" class="ai" alt="AI" width=80 />
                                    </div>
                                    <div class="col-md-3">
                                        <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/balsamiq.png" class="balsamiq" alt="Balsamiq" width=150 />
                                    </div>
                                    <div class="col-md-3">
                                        <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/invision.png" class="invision" alt="Invision" width=150 />
                                    </div>
                                </div>
                        </div>

                    </section>
                <!-- End Skills and Software -->

                <!-- Parallax and Contact Section -->
                <div id="contact" class="nav-marker"></div>

                    <section class="sunset parallax--bg">

                        <div class="container-fluid" id="sunset">
                            <div class="contact-row row">
                                <div class="col-md-8">
                                    <p class="contact_content">Want to grab some coffee, get to know me more, or collab on a project?</p>
                                    <p class="contact_content2">Send me a message <a href="mailto:a.ericka06@gmail.com">a.ericka06[at]gmail[dot]com</a>!</p>
                                </div>
                                <div class="col-md-4 profile">
                                    <img src="https://s3-us-west-1.amazonaws.com/eaportfolio/profile_pic.png" alt="Profile Pic" class="profile_pic">
                                </div>
                            </div>

                        </div>
                    </section>
                <!-- End Parallax and Contact -->

                <!-- Footer Section -->
                <footer class="page-section">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="social_links">
                                <a href="https://www.linkedin.com/in/erickaaranjuez/"><img src="https://s3-us-west-1.amazonaws.com/eaportfolio/linkedin.png" alt="LinkedIn"></a>
                                <a href="https://github.com/ericckkaa"><img src="https://s3-us-west-1.amazonaws.com/eaportfolio/github.png" alt="GitHub"></a>
                                <a href="mailto:a.ericka06@gmail.com"><img src="https://s3-us-west-1.amazonaws.com/eaportfolio/mail.png" alt="Email"></a>
                            </div>
                            <div class="footer_text">
                                <h5>&copy; 2017 Ericka Aranjuez.</h5>
                                <h5>Made with <i class="glyphicon glyphicon-heart"></i> in Los Angeles, CA</h5>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End Footer -->

            <!-- Script -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.6/SmoothScroll.min.js"></script>
            <script src="/static/javascript/jquery.fancybox.min.js"></script>
            <script src="/static/javascript/index.js"></script>
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-100708580-1', 'auto');
                ga('send', 'pageview');
            </script>
        </div>

    </body>
</html>
